version: '2'
services:
  nginx-proxy:
    labels: 
    - com.github.jrcs.letsencrypt_nginx_proxy_companion.nginx_proxy
    container_name: nginx-proxy
    image: jwilder/nginx-proxy
    restart: always
    ports:
    - "80:80"
    - "443:443"
    network_mode: host
    volumes:
    - ./client_max_body_size.conf:/etc/nginx/conf.d/client_max_body_size.conf:ro
    - ./certs:/etc/nginx/certs:ro
    - /etc/nginx/vhost.d
    - /usr/share/nginx/html
    - /var/run/docker.sock:/tmp/docker.sock:ro

  letsencrypt-nginx-proxy-companion:
    container_name: proxy-companion
    image: jrcs/letsencrypt-nginx-proxy-companion
    restart: always
    volumes:
    - ./certs:/etc/nginx/certs:rw 
    - /var/run/docker.sock:/var/run/docker.sock:ro 
    volumes_from:
    - nginx-proxy
